@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light mode background */
    --background: 245 245 245;
  }

  .dark {
    /* Dark mode background */
    --background: 0 0 0;
  }

  body {
    @apply bg-[#f5f5f5] dark:bg-black text-gray-900 dark:text-white;
  }
}